.container {
  background: var(--background-light-color);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.container.elevated:hover {
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

.field-label {
  margin-bottom: 5px;
}

form {
  display: inline-flex;
  flex-direction: column;
  margin: 5px;
  width: min(calc(100vw - var(--layout-padding)), var(--layout-width-max));

  .action-button-row {
    display: flex;
    justify-content: center;
    gap: var(--layout-gap-size);
  }
}

mat-icon {
  font-size: 15px;
  height: 24px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
