.container {
  background: var(--background-light-color);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.add-task {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.task-summary {
  align-items: center;
  background-color: '#f0f0f0';
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filters {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-label {
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
  margin-top: 4px;
  margin-bottom: 2px;
}

.search-bar {
  margin-bottom: 3px;
  width: min(calc(100vw - var(--layout-padding)), var(--layout-width-max));
}

.task-label {
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
  padding-bottom: 10px;
  padding-top: 10px;
}

.tasks {
  display: flex;
  flex-direction: column;
  width: min(calc(100vw - var(--layout-padding)), var(--layout-width-max));
  gap: var(--layout-gap-size);
  margin-top: 5px;
  margin-bottom: 5px;

  mat-card {
    padding: 5px;
    border-radius: var(--layout-border-radius);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    position: relative;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    }

    &.complete {
      background-color: var(--success-color);
    }

    &.high-priority {
      border-left: 6px solid var(--error-color);
    }

    .priority-label {
      font-size: 12px;
      font-weight: bold;
      padding: 4px 8px;
      border-radius: 4px;
      display: inline-block;
      margin: 5px;
    }

    .priority-label.high {
      color: var(--error-color);
      background-color: rgba(255, 0, 0, 0.1);
      border: 1px solid var(--error-color);
    }

    .priority-label.medium {
      color: var(--warning-color);
      background-color: rgba(255, 165, 0, 0.1);
      border: 1px solid var(--warning-color);
    }

    .priority-label.low {
      color: var(--info-color);
      background-color: rgba(0, 123, 255, 0.1);
      border: 1px solid var(--info-color);
    }

    .priority-icon {
      color: var(--error-color);
      font-size: 20px;
    }

    .mat-card-title {
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .task-title {
      flex-grow: 1;
      word-wrap: break-word;
      margin-right: 70px;
      max-width: calc(100% - 24px);
      margin-left: 10px;
      font-weight: bold;
    }

    .task-date {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      text-align: right;
      position: absolute;
      right: 10px;
      top: 10px;
      font-style: italic;
      white-space: nowrap;
    }

    .mat-card-content {
      font-size: 14px;
      color: var(--text-muted-color);
    }

    mat-card-actions {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      position: absolute;
      bottom: 10px;
      right: 10px;

      button {
        padding: 6px;
      }
    }
  }
}
